<a href="https://colab.research.google.com/github/ChrisCT17/TareasTHC/blob/main/Actividad_17_de_octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Funciones lambda**

La funcion lambda se declara de la siguiente manera:

In [1]:
x = lambda a: a*2 #Declaramos la funcion
print(x(3)) #Imprimimos el resultado cuando x=3

6

Es una manera de declarar algo mas sencillo sin usar def

In [2]:
potencia = lambda a:a**2 #Declaramos la funcion
print(potencia(4)) #Imprimimos el resultado cuando x=3

16

In [3]:
suma = lambda a,b:a+b #Declaramos la funcion de dos variables
print(suma(3,4)) #Imprimimos el resultado cuando a=3 y b=4

7

Se puden acer funciones de funciones, como una composicion de funciones

In [4]:
def mi_funcion(n): #Declaramos la funcion con def
  return lambda a:a*n #Le decimos que nos regrese el prodcuto de a y n

Dobles=mi_funcion(2) #Decimos que n=2
Dobles(5) #Imprimimos el resultado cuando n=2 y a=5

10

In [6]:
def ordenada(a,b):
  return lambda x:a*x+b

recta=ordenada(2,3) #Entonces aqui decimos que a=2 y b=3
recta(5) #y aqui decimos que x=5

13

In [10]:
def ordenada (a,b):
  return lambda x:a*x+b

recta=ordenada(2,3) #a=2 y b=3
for i in range (1,5): #Decimos que nos de los valores de x desde 1 hasta 5
  print("y="+str(recta(i)))

y=5
y=7
y=9
y=11

In [11]:
def ordenada (a,b):
  return lambda x:a*x+b

recta=ordenada(2,3) #a=2 y b=3
valores=[] #lista vacia
for i in range (10): #Decimos que nos de los valores de x desde 0 hasta 10
  valores.append(recta(i)) #guardamos los resultados en la lista con append
print(valores)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

# **Diccionarios**

In [ ]:
dic={} #diccionario vacio, utilizamos llaves para definirlo

Podemos asignar varios valores en un diccionario, teniendo en cuenta que no podemos agregar mas de un valor un dato ya que actuan como funciones inyectivas

In [14]:
dic={ "llave1":5,
     "llave2": "Valor2",
      "llave3": [1,2,3,4,5],
      "llave4":True, #Actuan como funciones inyectivas, por lo cual te puede dar cualquiera de los dos valores que le damos
      "llave4":25.2}
print(dic)

{'llave1': 5, 'llave2': 'Valor2', 'llave3': [1, 2, 3, 4, 5], 'llave4': 25.2}

In [16]:
list(dic.keys()) #nos da las llaves del diccionario y lo convertimos a lista

['llave1', 'llave2', 'llave3', 'llave4']

In [17]:
dic.values() #nos da los valores del diccionario por llave

dict_values([5, 'Valor2', [1, 2, 3, 4, 5], 25.2])

In [20]:
Values=list(dic.values()) #nos da los valores del diccionario por llave y lo hacemos una lista
len(Values) #nos dice cuantas llaves tenemos

4

In [21]:
len(Values[1]) #nos dice cuantos valores tiene la llave 2

6

In [26]:
dic #imprimimos los datos del diccionario

{'llave1': 5, 'llave2': 'Valor2', 'llave3': [1, 2, 3, 4, 5], 'llave4': 25.2}

In [27]:
dic["llave1"] #nos da el valor de la llave 1

5

In [28]:
dic["llave2"]="Hola que tal" #cambiamos el valor de la llave 2
dic

{'llave1': 5,
 'llave2': 'Hola que tal',
 'llave3': [1, 2, 3, 4, 5],
 'llave4': 25.2}

In [32]:
dic["llave6"]={"L1":5,"L2":54} #Asignamos un valor nuevo al diccionario y que a su vez tamboen es un diccionario
dic

{'llave1': 5,
 'llave2': 'Hola que tal',
 'llave3': [1, 2, 3, 4, 5],
 'llave4': 25.2,
 'llave6': {'L1': 5, 'L2': 54}}

Esto seria un ejemplo de una pequeña base de datos. Todas las llaves deben de tener la misma cantidad de valores

In [40]:
import pandas as pd

# Crear un diccionario con datos
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Luisa'],
    'Edad': [25, 28, 22, 30],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# Crear un DataFrame a partir del diccionario
dataframe = pd.DataFrame(datos)

# Mostrar el DataFrame
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

# **Ejercicio**

Hacer un diccionario de 6 personas, poner el nombre, edad, ¿Estudia o trabaja?, estatus legal.

In [45]:
#Definimos el diccionario
datos_de_personas={"Nombre":["Juan", "Pedro", "Claudia", "Braulio", "Alejandro", "Chris"],
                   "Edad":[18,20,18,19,18,18],
                   "¿Estudia o trabaja?":["Estudia","Trabaja","Estudia","Estudia","Trabaja","Estudia"],
                   "Estatus legal":["Soltero","Casado","Casada","Divorciado","Soltero","Soltero"]}
dataframe = pd.DataFrame(datos_de_personas)
print(dataframe)

      Nombre  Edad ¿Estudia o trabaja? Estatus legal
0       Juan    18             Estudia       Soltero
1      Pedro    20             Trabaja        Casado
2    Claudia    18             Estudia        Casada
3    Braulio    19             Estudia    Divorciado
4  Alejandro    18             Trabaja       Soltero
5      Chris    18             Estudia       Soltero